<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>b_fp_card1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,239},{78,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,235}</string>
			</dict>
			<key>b_fp_card10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,476},{78,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,235}</string>
			</dict>
			<key>b_fp_card2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{78,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,236}</string>
			</dict>
			<key>b_fp_card3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,713},{78,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,235}</string>
			</dict>
			<key>b_fp_card4.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,1},{78,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,235}</string>
			</dict>
			<key>b_fp_card5.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,238},{78,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,235}</string>
			</dict>
			<key>b_fp_card6.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,475},{78,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,235}</string>
			</dict>
			<key>b_fp_card7.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,712},{78,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,235}</string>
			</dict>
			<key>b_fp_card8.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,1},{78,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,235}</string>
			</dict>
			<key>b_fp_card9.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,238},{78,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,235}</string>
			</dict>
			<key>s_fp_card1.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,475},{78,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,235}</string>
			</dict>
			<key>s_fp_card10.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,712},{78,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,235}</string>
			</dict>
			<key>s_fp_card2.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,1},{78,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,235}</string>
			</dict>
			<key>s_fp_card3.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,238},{78,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,235}</string>
			</dict>
			<key>s_fp_card4.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,475},{78,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,235}</string>
			</dict>
			<key>s_fp_card5.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,712},{78,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,235}</string>
			</dict>
			<key>s_fp_card6.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1},{78,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,235}</string>
			</dict>
			<key>s_fp_card7.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,238},{78,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,235}</string>
			</dict>
			<key>s_fp_card8.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,475},{78,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,235}</string>
			</dict>
			<key>s_fp_card9.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,712},{78,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,235}</string>
			</dict>
			<key>s_card1.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,1},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>s_card10.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,107},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>s_card2.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,213},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>s_card3.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,319},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>s_card4.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,425},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>s_card5.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,531},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>s_card6.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,637},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>s_card7.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,743},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>s_card8.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,887},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>s_card9.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,1},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>b_card1.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,107},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>b_card10.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,213},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>b_card2.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,319},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>b_card3.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,425},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>b_card4.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,531},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>b_card5.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,637},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>b_card6.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,743},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>b_card7.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,849},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>b_card8.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,1},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>b_card9.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,107},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>s_s_card1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,950},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>s_s_card10.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,950},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>s_s_card2.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,950},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>s_s_card3.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,949},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>s_s_card4.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,987},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>s_s_card5.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,949},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>s_s_card6.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,987},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>s_s_card7.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,949},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>s_s_card8.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,987},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>s_s_card9.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,949},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>b_s_card1.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,987},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>b_s_card10.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,949},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>b_s_card2.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,987},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>b_s_card3.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,949},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>b_s_card4.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,987},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>b_s_card5.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,949},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>b_s_card6.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,987},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>b_s_card7.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,949},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>b_s_card8.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,987},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>b_s_card9.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,849},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>card.png</string>
			<key>realTextureFileName</key>
			<string>card.png</string>
			<key>size</key>
			<string>{664,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>664</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>