<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_wxdl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{448,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{448,172}</string>
			</dict>
			<key>cb_frame1.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,175},{54,54}}</string>
				<key>offset</key>
				<string>{-11,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,66}</string>
			</dict>
			<key>cb_selected1.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,231},{57,49}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,66}</string>
			</dict>
			<key>textbg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,956},{181,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,67}</string>
			</dict>
			<key>head_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,415},{115,116}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>btn_buy_room_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,259},{222,80}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,86}</string>
			</dict>
			<key>btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,754},{98,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,115}</string>
			</dict>
			<key>btn_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,771},{98,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,115}</string>
			</dict>
			<key>btn_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,871},{98,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,115}</string>
			</dict>
			<key>btn_seting.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,904},{98,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,115}</string>
			</dict>
			<key>btn_message.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,749},{98,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,115}</string>
			</dict>
			<key>wz_hyxy.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,988},{269,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,33}</string>
			</dict>
			<key>arrow1.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,866},{84,79}}</string>
				<key>offset</key>
				<string>{-7,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,79}</string>
			</dict>
			<key>btn_cjfj.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,1},{369,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{369,152}</string>
			</dict>
			<key>btn_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,635},{163,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,82}</string>
			</dict>
			<key>btn_comfirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,719},{163,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,82}</string>
			</dict>
			<key>btn_num0_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,341},{155,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,101}</string>
			</dict>
			<key>btn_num0_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,175},{155,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,101}</string>
			</dict>
			<key>btn_num1_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,444},{150,99}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,99}</string>
			</dict>
			<key>btn_num1_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,545},{150,99}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,99}</string>
			</dict>
			<key>btn_num2_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,892},{132,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,99}</string>
			</dict>
			<key>btn_num2_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,749},{132,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,99}</string>
			</dict>
			<key>btn_num3_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,791},{133,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,99}</string>
			</dict>
			<key>btn_num3_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,803},{133,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,99}</string>
			</dict>
			<key>btn_num4_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,347},{150,101}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,101}</string>
			</dict>
			<key>btn_num4_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,233},{150,101}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,101}</string>
			</dict>
			<key>btn_num5_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,585},{132,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,101}</string>
			</dict>
			<key>btn_num5_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,656},{132,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,101}</string>
			</dict>
			<key>btn_num6_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,429},{133,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,101}</string>
			</dict>
			<key>btn_num6_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,482},{133,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,101}</string>
			</dict>
			<key>btn_num7_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,532},{130,101}}</string>
				<key>offset</key>
				<string>{13,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,101}</string>
			</dict>
			<key>btn_num7_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,759},{130,101}}</string>
				<key>offset</key>
				<string>{13,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,101}</string>
			</dict>
			<key>btn_num8_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,646},{132,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,101}</string>
			</dict>
			<key>btn_num8_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,688},{132,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,101}</string>
			</dict>
			<key>btn_num9_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,553},{133,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,101}</string>
			</dict>
			<key>btn_num9_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,532},{133,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,101}</string>
			</dict>
			<key>btn_numc_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,379},{146,101}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,101}</string>
			</dict>
			<key>btn_numc_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,450},{146,101}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,101}</string>
			</dict>
			<key>btn_numd_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,246},{155,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,99}</string>
			</dict>
			<key>btn_numd_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,278},{155,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,99}</string>
			</dict>
			<key>btn_out2.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,796},{92,90}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,90}</string>
			</dict>
			<key>cardbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,862},{105,114}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,118}</string>
			</dict>
			<key>opt_chi_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,392},{110,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,120}</string>
			</dict>
			<key>opt_chi_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,511},{110,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,120}</string>
			</dict>
			<key>opt_guo.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,533},{110,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,120}</string>
			</dict>
			<key>opt_hu_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,630},{110,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,120}</string>
			</dict>
			<key>opt_hu_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,677},{110,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,120}</string>
			</dict>
			<key>opt_peng_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,635},{110,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,120}</string>
			</dict>
			<key>opt_peng_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,652},{110,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,120}</string>
			</dict>
			<key>btn_dismiss_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,336},{166,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,91}</string>
			</dict>
			<key>flag_zhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,412},{53,63}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,69}</string>
			</dict>
			<key>ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,477},{74,92}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,93}</string>
			</dict>
			<key>arrow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,246},{66,50}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,65}</string>
			</dict>
			<key>card_back_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,155},{78,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,235}</string>
			</dict>
			<key>card_black_middle.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,571},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>card_black_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,282},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>card_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,1},{99,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,256}</string>
			</dict>
			<key>card_light2.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,1},{99,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,256}</string>
			</dict>
			<key>card_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,850},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>select_chi_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,233},{78,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,184}</string>
			</dict>
			<key>close2.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,866},{79,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,83}</string>
			</dict>
			<key>flag_zhongzhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,341},{53,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,69}</string>
			</dict>
			<key>btn_setting2.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,888},{90,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>cb_frame3.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,298},{47,47}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>cb_selected3.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,347},{48,46}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>wz_phz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,175},{230,69}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,70}</string>
			</dict>
			<key>wz_cjfj.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,155},{261,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,76}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui1.png</string>
			<key>realTextureFileName</key>
			<string>ui1.png</string>
			<key>size</key>
			<string>{1023,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>