<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_comfirm2.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,1},{166,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,83}</string>
			</dict>
			<key>huflag_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,766},{77,36}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,43}</string>
			</dict>
			<key>huflag_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,216},{77,37}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,43}</string>
			</dict>
			<key>huflag_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,259},{153,34}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,43}</string>
			</dict>
			<key>huflag_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,86},{153,33}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,43}</string>
			</dict>
			<key>huflag_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,908},{77,36}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,43}</string>
			</dict>
			<key>huflag_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,255},{77,37}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,43}</string>
			</dict>
			<key>huflag_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,808},{98,37}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,43}</string>
			</dict>
			<key>huflag_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,914},{76,36}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,43}</string>
			</dict>
			<key>huflag_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,977},{77,37}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,43}</string>
			</dict>
			<key>huflag_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,954},{127,37}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,43}</string>
			</dict>
			<key>huflag_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,954},{127,38}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,43}</string>
			</dict>
			<key>huflag_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,882},{126,37}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,43}</string>
			</dict>
			<key>huflag_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,954},{127,38}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,43}</string>
			</dict>
			<key>huflag_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,766},{77,37}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,43}</string>
			</dict>
			<key>title_bejujiesuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,139},{477,118}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{483,136}</string>
			</dict>
			<key>wz_chouzhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,139},{136,118}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,121}</string>
			</dict>
			<key>wz_fangpao.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,786},{95,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,96}</string>
			</dict>
			<key>wz_chi.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,666},{44,44}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>wz_kan.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,698},{45,44}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>wz_pao.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,744},{45,44}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>wz_peng.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,712},{44,44}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>wz_sao.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,769},{44,45}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>wz_tilong.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,723},{45,44}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>img_sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,349},{20,8}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,30}</string>
			</dict>
			<key>wz_hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,294},{33,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,48}</string>
			</dict>
			<key>huflag_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,509},{223,122}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,125}</string>
			</dict>
			<key>btn_setting_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,882},{94,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,48}</string>
			</dict>
			<key>btn_setting_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,808},{94,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,48}</string>
			</dict>
			<key>close3.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,863},{88,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,85}</string>
			</dict>
			<key>btn_apply_dismissroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,538},{354,126}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{355,134}</string>
			</dict>
			<key>btn_setting_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,858},{94,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,48}</string>
			</dict>
			<key>close1.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,121},{78,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,93}</string>
			</dict>
			<key>head_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,633},{88,88}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>player_info_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,954},{133,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,54}</string>
			</dict>
			<key>btn_wxyqhy.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,1},{501,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{501,136}</string>
			</dict>
			<key>btn_fenxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,633},{160,80}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,80}</string>
			</dict>
			<key>flag_dapaowang.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,596},{48,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,100}</string>
			</dict>
			<key>flag_dayingjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,527},{49,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,103}</string>
			</dict>
			<key>del2.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,349},{20,8}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,27}</string>
			</dict>
			<key>player_info_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,349},{311,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,178}</string>
			</dict>
			<key>coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,804},{54,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,883},{73,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,92}</string>
			</dict>
			<key>btn_look_cards.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,538},{92,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,96}</string>
			</dict>
			<key>record_roomid_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,954},{317,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{317,43}</string>
			</dict>
			<key>record_time_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,259},{464,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{464,43}</string>
			</dict>
			<key>record_time_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,304},{455,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{455,43}</string>
			</dict>
			<key>wz_fjzjjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,723},{312,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,61}</string>
			</dict>
			<key>wz_wdzj.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,527},{237,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,67}</string>
			</dict>
			<key>scale9bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,86},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>wz_hddxwcp.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,994},{160,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,20}</string>
			</dict>
			<key>btn_aggree.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,596},{166,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,83}</string>
			</dict>
			<key>btn_reject.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,681},{166,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,83}</string>
			</dict>
			<key>table_arrow_chari1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,666},{66,50}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,65}</string>
			</dict>
			<key>table_arrow_chari2.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,850},{60,62}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,65}</string>
			</dict>
			<key>table_arrow_chari3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,718},{66,50}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,65}</string>
			</dict>
			<key>table_arrow_chari4.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,882},{60,62}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,65}</string>
			</dict>
			<key>qipao.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,950},{81,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,66}</string>
			</dict>
			<key>btn_audio_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,632},{90,89}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,93}</string>
			</dict>
			<key>record_voice_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{322,361}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,371}</string>
			</dict>
			<key>progress_record_voice.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,999},{210,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,15}</string>
			</dict>
			<key>progress_record_voice_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,999},{210,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,15}</string>
			</dict>
			<key>voice_bugle_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,882},{78,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,67}</string>
			</dict>
			<key>voice_flag_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,349},{8,13}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,35}</string>
			</dict>
			<key>voice_flag_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,1},{10,24}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,35}</string>
			</dict>
			<key>voice_flag_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1},{12,35}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,35}</string>
			</dict>
			<key>btn_audio_record_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,786},{90,89}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,93}</string>
			</dict>
			<key>netloading.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,304},{204,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,203}</string>
			</dict>
			<key>btn_replay.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,801},{62,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,65}</string>
			</dict>
			<key>biaoqing_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,801},{97,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,76}</string>
			</dict>
			<key>biaoqing_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,877},{90,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,75}</string>
			</dict>
			<key>biaoqing_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,868},{86,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,75}</string>
			</dict>
			<key>biaoqing_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,801},{94,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,75}</string>
			</dict>
			<key>biaoqing_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,801},{87,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,75}</string>
			</dict>
			<key>biaoqing_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,730},{94,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,76}</string>
			</dict>
			<key>biaoqing_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,786},{100,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,75}</string>
			</dict>
			<key>btn_biaoqing.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,636},{89,92}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,93}</string>
			</dict>
			<key>cb_frame2.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,790},{55,58}}</string>
				<key>offset</key>
				<string>{-12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,66}</string>
			</dict>
			<key>btn_scale9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,816},{63,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,65}</string>
			</dict>
			<key>scale9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,666},{62,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,44}</string>
			</dict>
			<key>fangzhu_flag.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,863},{74,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,60}</string>
			</dict>
			<key>btn_ykdl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,364},{448,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{448,172}</string>
			</dict>
			<key>dou.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,758},{40,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,41}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui3.png</string>
			<key>realTextureFileName</key>
			<string>ui3.png</string>
			<key>size</key>
			<string>{1024,1017}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1017</integer>
		</dict>
	</dict>
</plist>